node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
node_modules
.env
# macOS
.DS_Store
# Xcode
*.pbxuser
!default.pbxuser
*.xccheckout
*.xcscmblueprint
ios/6amhealth.xcworkspace/xcuserdata
# Dynamic Macros
/ios/Exponent/Supporting/EXBuildConstants.plist.bak
/ios/Exponent/Supporting/EXBuildConstants.plist.json
/ios/Exponent/Supporting/EXBuildConstants.plist